{% load static %}
{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar shadow-sm">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/">
      <img src="{% static 'img/logo5.png' %}" alt="ByteStore Logo" height="45">
    </a>

    <!-- Collapse Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <!-- (Bạn có thể thêm menu ở đây sau này nếu muốn) -->
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <!-- Chăm sóc khách hàng -->
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'core:customer_support' %}">
            <i class="fas fa-headset"></i>
            <span class="clearfix d-none d-sm-inline-block">Chăm sóc khách hàng</span>
          </a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
            <span class="badge red z-depth-1 mr-1">{{ request.user|cart_item_count }}</span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block">Giỏ hàng</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
            <span class="clearfix d-none d-sm-inline-block">Đăng xuất</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="clearfix d-none d-sm-inline-block">Đăng nhập</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
            <span class="clearfix d-none d-sm-inline-block">Đăng kí</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>